**
!package.json
!README.md
!CHANGELOG.md
!LICENSE.txt
!src/extension.js
!src/core.js
!src/providers.js
!media/board.html
!media/board.css
!media/board.js
!media/projects.js
!media/icon.png
!media/board-preview.png
